<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiju</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body>
    <h1>Tabletop Exercises</h1>
    <div id="tabletop-exercises">
        <button hx-get="/api/v1/tabletopexercises/1" hx-target="#tabletop-exercises-detailed" hx-swap="innerHTML">
            Load Tabletop Exericses
        </button>
    </div>
    <div id="tabletop-exercises-detailed"></div>
</body>
</html>